* {
   color:crimson;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

body {
    
    
    
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.Header{
    border-bottom: 2px solid purple;
}

.TituloPrincipal{
    display:inline-block;
    padding-left: 2%;
    width: 47%;
}

.nav{
    display: inline-block;
    list-style-type: square;
    text-align: right;
    width: 49%;
}
.ListaNav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.Contatos{
    border-top: 2px solid purple;
    margin-top: 2%;
    text-align: center;
    padding-top: 2%;
}

.mainmogus{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: row;
}

.FigureNoticia{
    
}

.imgNoticia{

}

.container {
	display: grid;
	grid-template-columns: 200px 200px 200px;
}

.listaNoticias{
    display: flex;
    flex-direction:row-reverse;
}

.noticias{
    display: flex;
}

.Contatos > a {
    color: white;
}